/* HomeCss.css */

.BodyExams {
  background-color: #1e1e1e;
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
}

/* Main style */

.NoExams {
  font-size: 18px;
  color: white;

}

.MainPage {

  margin: 100px 0%;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.MainDivOfPage {
  display: flex;
  align-items: flex-start;
  flex-direction: column;


}

.stepHomee {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: clamp(5px, 5vw, 100px);
  margin-bottom: 50px;
}

.ItemOne,
.ItemTwo,
.ItemThere,
.ItemFour {
  cursor: pointer;
  color: white;
  padding-bottom: 15px;
}




.MainDivAllExams {
  width: clamp(260px, 80vw, 1000px);
  background-color: whitesmoke;
  border-radius: 10px;
  transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out;
  overflow: hidden;
  margin-top: 20px;
}



.MainDivAllExams.hidden {
  opacity: 0;
  max-height: 0;
  padding: 0px;

}

.MainDivAllExams.appear {
  opacity: 1;
  padding: 10px;

}





.RowAllExams {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.lineSeprete {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #1e1e1e;
  color: #1e1e1e;
}

.RowAllExamsOne {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0%;
}



.SearchEnginAllExam {
  font-size: 13px;
  color: #1e1e1e;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #1e1e1e;
  outline: none;
  background-color: transparent;

}

.sectionButtonNewExam {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: 90px;
  height: 30px;
  border: 1px solid #5f51a9;
  font-family: "Inter-Bold", Helvetica;
  background-color: transparent;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  background-color: #5f51a9;
  color: whitesmoke;
  position: relative;
  text-decoration: none;



}

.removeUnderline {
  text-decoration: none;
}

.sectionButtonNewExam:hover::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NumberOfQuestion {
  color: gray;
  margin-left: 10px;
  margin-left: auto;
  margin-right: 5px;

}

.iconPlueNewExam {
  margin-right: 3px;
  margin-bottom: 1px;
}

.ExamNameDiv {

  font-size: medium;
  color: #1e1e1e;
  font-family: "Inter-Bold", Helvetica;
  margin-left: 7px;
  font-weight: 600;

}

.sectionExamNameHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.twoButton {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5px;
}

.activeHome {
  text-decoration: none;
  position: relative;
  color: #5f51a9;
  font-weight: bold;
}

.activeHome:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
  opacity: 0;
  transition: opacity 0.8s ease;

}

.activeHome.activeUnderline:after {
  opacity: 1;
}





.MainDivAssign {
  width: clamp(260px, 80vw, 1000px);
  transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out;
  overflow: hidden;



}

.MainDivAssign.hidden {
  opacity: 0;
  max-height: 0;
  padding: 0px;

}

.MainDivAssign.appear {
  padding: 10px;
  opacity: 1;


}

.statmentAssign {
  color: white;
  font-size: 20px;
  margin: 30px 0px;
}

.step_indicator_home {
  display: flex;
  align-items: center;
  justify-content: center;

}

.step_home {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 60px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-size: 15px;

}

.active_home {
  background-color: #7b1fa2;
  color: white;
  border: 1px solid #7b1fa2;
}

.line_home {
  height: 2px;
  width: 50vw;
  border: none;
  outline: none;

  background-color: white;
}

.active_line {
  background-color: #7b1fa2;
  height: 2px;
}

.sectionDisplayEA {
  padding: 10px;
}

.rowAssignText {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;

}

.nameOfExam {
  font-size: 17px;
  color: #1e1e1e;
  font-weight: 700;
  font-family: "Inter-Bold", Helvetica;
}

.assignText {
  cursor: pointer;
  font-weight: 800;
  margin-left: auto;
  font-size: 15px;
  color: #5f51a9;
  font-family: "Inter-Bold", Helvetica;

}

.assignText:hover {
  text-decoration: underline;

}

.sectionsIsAssignStep1 {
  width: clamp(260px, 80vw, 1000px);
  transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

.directionColumn {
  display: flex;
  flex-direction: column;
}

.sectionsIsAssignStep1.hidden {
  opacity: 0;
  max-height: 0;
  padding: 0px;
}


.sectionsIsAssignStep1.appear {
  padding: 10px;
  opacity: 1;


}


/* Assign step 2 */

.MainDivAssignStep2 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 400px;
  height: auto;
  background-color: white;
  margin: 60px 20px;
  border-radius: 10px;

}

.contnatAssignStep2 {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.sectionLink {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: #5f51a9;
}

.iconLink {
  width: 45px;
  height: 45px;
}

.sentLinkText {
  font-weight: 700;
  font-size: 18px;
  font-family: "Inter-Bold", Helvetica, sans-serif;
  /* Added sans-serif as a fallback */
  margin-bottom: 10px;
  max-width: 80%;
  /* Ensure the text container is responsive */
  word-wrap: break-word;
  /* Break long words to ensure they wrap */
}



.userRegistration {
  font-size: 15px;
  color: #5f51a9;
}

/* .sendTheOne {
  font-size: 13px;
} */

.textInBlockAssign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  height: 100px;
}

.LineAssignLink {

  width: 100%;
  height: 1px;
  background-color: rgb(147, 147, 147);

}

.sectionButtonLink {
  display: flex;
  align-items: center;
  justify-content: center;

}

.secTwoButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 140px;
  background-color: #5f51a9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 10px;

}

/* 3 */




.MainDivContantSettings {
  display: flex;
  flex-direction: column;
  /* margin: 10px auto; */

  width: clamp(300px, 90vw, 100%);
  background-color: whitesmoke;
  border-radius: 10px;
}

.sectionExamName {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  flex-direction: row;
  width: 100%;
}



.iconFile {
  width: 30px;
  height: 30px;

}

.ContantSettingsTwo {
  padding: 10px;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;

}

.ExamInstructTextAdd {
  font-family: "Inter-Bold", Helvetica;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  user-select: none;
}

.AddInsrationIcon {
  width: 20px;
  height: 20px;
}

.sectionAddIns {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 10px;
  width: fit-content;
  color: #5f51a9;
  user-select: none;
}

.sectionAddIns:hover:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #5f51a9;
  position: absolute;
  bottom: -2px;
  color: #5f51a9;
}

.ExamPasswordSection {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.MainDivAssignStep3 {
  margin-top: 100px;
}

.AddTextIntro {
  display: flex;
  flex-direction: column;
  opacity: 1;
  margin-top: 5px;
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s;
}

.AddTextIntro.hidden {
  max-height: 0;
  opacity: 0;
}



.InputIntro {
  user-select: none;
  margin-top: 15px;
  border: 1px solid #5f51a9;
  font-family: "Inter-Bold", Helvetica;
  outline: none;
  border-radius: 5px;
  /* width: 400px; */
  max-width: 250px;
  padding: 8px;
  font-size: 15px;
  background-color: transparent;
}

.ButtonSaveIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: 100px;
  height: 30px;
  border: 1px solid #5f51a9;
  font-family: "Inter-Bold", Helvetica;
  background-color: transparent;
  color: #1e1e1e;
  border-radius: 5px;
  font-weight: 700;


}

.ButtonSaveIntro:hover {
  background-color: #5f51a9;
  color: white;
}

.marginSettings {
  margin-top: 10px;
  margin-right: auto;
  margin-left: 0%;
}

/* section 4 */

.sectionAvaliability {
  padding: 10px;
  /* min-width: 400px; */
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.scheduleTextIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avaliabilityText {
  font-family: "Inter-Bold", Helvetica;
  color: #1e1e1e;
  font-weight: 700;
  user-select: none;
  font-size: 18px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}


.sectionPutTheTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.RowTime {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.textTime,
.textMinutes {
  font-family: "Inter-Bold", Helvetica;
  color: #1e1e1e;
  font-weight: 500;
  user-select: none;
}


.inputTime {
  margin-left: 10px;
  width: 180px;
  padding: 8px;
  font-size: 13px;
  border: 1px solid #5f51a9;
  border-radius: 5px;
  height: 20px;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}


.inputTime:focus {
  border-color: #5f51a9;
  box-shadow: 0 0 0 1px #5f51a9;

}

.marginAvaliableUntil {
  margin-left: 11px;
}



/*                                section 5  */



.sectionTimeLimit {
  display: flex;
  align-items: center;
  flex-direction: row;

}

.inputTimeLimit {
  margin-left: 10px;
  width: 60px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #5f51a9;
  border-radius: 5px;
  height: 10px;
  box-shadow: none;
  outline: none;
  background-color: transparent;

}

.inputTimeLimit::-webkit-inner-spin-button,
.inputTimeLimit::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sectionButton {
  background: linear-gradient(to right, #8752BC, #5F51A9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0px auto;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
  position: relative;

}

.sectionButton:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeUnderline {
  text-decoration: none;
}

.textButtonsave {
  padding: 8px;

}



/*                        4 */

.sectionAssignFour {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0px;

}

.sectionDone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter-Bold", Helvetica;
  color: #1e1e1e;
  font-weight: 500;
}

.iconDone {
  width: 100px;
  height: 100px;
}

.textGive {
  font-size: 16px;
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.examNamesection {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.iconExamName {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.linkContant {
  margin-top: 30px;
  width: 350px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;

}

.linkContant:hover {
  border: 1.5px solid #1e1e1e;
  ;

}

.linkContant:focus {
  border: 1.5px solid #1e1e1e;
  ;

}


.sectiongroup {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  
}

/* Media query for mobile screens */
@media (max-width: 700px) {
  .sectiongroup {
    max-height: 1000px;
    margin: 0 10%;
    /* Set a large enough value to show the content */
  }
}


.apper {
  margin-top: 10px;
  max-height: 1000px;

}

.hidden {
  max-height: 0;
}

.groups {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.itemInGroups {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  width: fit-content;
}

.wordCreateGrpup {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  color: #5f51a9;
  width: fit-content;
}

.wordCreateGrpup:hover::after {
  content: "";
  display: block;
  border-bottom: 1px solid #5f51a9;
}

.NextButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionalFields {
  color: rgb(172, 172, 172);
  font-size: 14px;
  margin-left: 5px;
}

.margindown {
  margin-bottom: 15px;
  width: clamp(300px, 60vw, 1000px);
}




.TrueFalseSetting {
  margin-top: 10px;

}

.textalignSetting {
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 10px;
  width: fit-content;

}

.radiosetting {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  color: #1e1e1e;
  position: relative;

}


.radiosetting:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #5f51a9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.valueTrueFalsesetting {
  margin-left: 20px;
  cursor: pointer;
  color: #1e1e1e;
}

.label {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .sectionsIsAssignStep1 {
    flex-direction: column;

  }
}

.width {
  width: 150px;
  font-size: 15px;
  -moz-appearance: 'textfield'
}

.width:focus {
  border: 1px solid #5f51a9;
  outline: none;
}

.width::-webkit-inner-spin-button,
.width::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noExamsAdd {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderrr {
  display: flex;
  align-items: center;
  justify-content: center;

}

.nameExams {
  color: #1e1e1e;
  background-color: red;
}