/* HomeCss.css */

.sectionExamDetails {
    background-color: #1e1e1e;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
}

/* Main style */

.MainDivOfPageExamDetails {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: clamp(300px, 85vw, 90%);
}

.MainPageExamDetails {

    background-color: #1e1e1e;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
}

.stepHome {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
    margin-bottom: 50px;
}

.MainDivAllExamsDetalis {


    display: flex;
    flex-direction: column;
    /* margin: 10px auto; */
    width: clamp(300px, 90vw, 100%);
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out;
    overflow: hidden;
}

.AssignedNumer {
    user-select: none;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    width: 90%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .marginDetalies {
    margin-bottom: 6px;
} */

.lineSepreteDetails {
    width: 100%;
    height: 1.5px;
    background-color: rgb(185, 185, 185);
}

.hightAssigendUser {
    height: 1px;
}

.AddmarginBotton {
    margin-bottom: 70px;

}

.RowExamDetails {
    display: flex;
    flex-direction: column;
}

.RowOne,
.RowTwo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.RowTwo {
    margin-top: 30px;
    gap: 5px;
    align-items: center;
}

.NumberOfQuastion {
    user-select: none;
    color: rgb(159, 159, 159);
    margin-left: auto;
}

.AssignColor {
    background-color: #fb3311;
    border: none;
    outline: none;
}



.ResultColor {
    background-color: #3cb27a;
    border: none;
}




.EditButtonDetails:hover {
    background-color: #5f51a9;
    color: white;
}

.EditButtonDetails {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    width: 98px;
    height: 28px;
    border: 1px solid #5f51a9;
    font-family: "Inter-Bold", Helvetica;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #1e1e1e;
    position: relative;


}



.EditIcon {
    padding: 0px 4px;
}


.sectionExamNameDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.sectionExamNameDetails:hover {
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
}



.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #5f51a9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.numberGroup {
    width: 25px;
    height: 25px;
    background-color: rgb(220, 220, 220);
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}