.MainDivStudentPage {
    background-color: #1e1e1e;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
}




.containerAppBar {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logoStudent {
    display: flex;

    align-items: center;
    margin-left: 10px;
    user-select: none;
    width: 120px;
    height: 30px;

    margin-right: 80px;
    margin-left: 10px;

}

.navAppBarStudent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
}

.ulAppBarStudent {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    gap: 35px;
    text-align: center;
    margin-left: auto;
}

.linksAppbarStudent {
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding: 9px;
    margin-left: 14px;



}



.linksAppbarStudent:hover,
.activeAppBarStudent {
    background-color: white;
    transition: all 0.4s;
    border-radius: 5px;
    color: #1e1e1e;


}

.mainUserStudent {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}


.photoUser {
    display: inline;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.userDropdown {
    position: absolute;
    border-radius: 5px;
    top: 70px;
    right: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px #5f51a9;

    min-width: 180px;
    display: none;
    max-height: 0%;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.2s, max-height 0.2s;

}

.userDropdown.open {
    max-height: 300px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userDropdown.hidden {
    opacity: 0;
    max-height: 0;
}

.userDropdown::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background: whitesmoke;
    transform: rotate(45deg);
    transition: opacity 0.3s;
}



.userDropdown a {
    border-radius: 5px;
    /* padding: 10px; */
    text-decoration: none;
    color: #333;
    transition: background-color 0.1s;
}

.NameAndPostion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px;
    font-weight: 500;
}

.lineNavBar {
    background-color: grey;
    height: 1px;
    width: 70%;
}

.NameUserr,
.postionUser {
    color: #1e1e1e;
}

.postionUser {
    font-size: 12px;
    color: grey;
}



.LinksuserDropdown {
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 1px;
    font-weight: 400;

}

.LinksuserDropdown:hover {
    /* background-color: #5f51a9; */
    font-weight: 700;
    color: #5f51a9;

}


@media screen and (max-width: 650px) {
    .linksAppbarStudent {
        font-size: 16px;
        font-weight: 530;

    }



}

.MianPageStudent {
    margin: 100px auto;
    width: auto;
    width: clamp(400px, 80vw, 90%);
}

.MyGroupsWord {
    margin-bottom: 30px;
    color: white;
    font-size: 25px;
    margin-left: 5px;
}



.secondMianPageStudent {
    background-color: white;
    width: clamp(300px, 80vw, 89%);
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.groupIcon {
    width: 30px;
    height: 30px;
}

.NameOfGroup {
    margin-left: 20px;
    width: 200px;
    font-size: 17px;
    font-weight: 700;
    color: #5f51a9;
}

.colorAdd {
    color: #1e1e1e;
}

.ButtonOprnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    width: 100px;
    height: 30px;
    border: 1px solid #5f51a9;
    background-color: transparent;
    color: #1e1e1e;
    border-radius: 5px;
    font-weight: 700;

}

.ButtonOprnGroup:hover {
    background-color: #5f51a9;
    color: white;
}

.LinkSpecificGroup {
    text-decoration: none;
    margin-left: auto;
}

/*                                                      SpecificGroup page */

.NameOFGroup {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    font-size: 25px;
    color: white;
    width: clamp(300px, 80vw, 90%);
    padding: 10px;
    font-size: 30px;

}

.NameGroup {
    margin-left: auto;
}

.LineStudentTest {
    width: 95%;
    height: 1px;
    background-color: rgb(171, 171, 171);
    margin: 0% auto;

    /* padding: 5px; */
}

.MianPageStudentTests {
    background-color: white;
    width: clamp(300px, 80vw, 95%);

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 10px;
    /* box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.4); */
}

.firstRowStudent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0%;
    gap: 5px;
    width: clamp(300px, 70vw, 100%);
}



.marginTop {
    margin: 30px 0%;
}

.NameOfGroupStudent {

    word-wrap: break-word;
    /* margin-left: 20px; */
    width: 200px;
    font-size: 17px;

}

.NameOfGroupStudentButton {
    text-align: center;
    font-weight: bold;
    width: clamp(40px, 8vw, 100px);
    font-size: 10px;
    cursor: pointer;

    padding: 10px;
    border: 1px solid #5f51a9;
    border-radius: 10px;

}

.NameOfGroupStudentButton:hover {
    background-color: #5f51a9;
    color: white;
}

.classRemoveLinKcss {
    text-decoration: none;
    width: 100px;
}

.examsTable {
    width: 100%;
    border-collapse: collapse;
}

.examsTable th,
.examsTable td {

    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.examsTable th {
    background-color: #f2f2f2;
    color: #5f51a9;
}

.NameOfGroupStudentButton {
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none;

    border-radius: 10px;
    color: #1e1e1e;
}


.NameOfGroupStudentButton:hover {
    background-color: #45398e;
}

.buttonOpenExam {
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid #8752BC;
    cursor: pointer;
}

.buttonOpenExam:hover {

    background-color: #8752BC;
}


/*                      Review */


.MianPageStudentTestsReview1 {
    background-color: white;
    width: clamp(300px, 90vw, 95%);
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.makePadding {
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.firstColumn,
.secondColumn {
    display: flex;
    flex-direction: column;
}

.firstColumn {
    height: 90%;
    width: 45%;
    /* margin-right: auto; */

}

.secondColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}


.LineVertical {
    height: 90%;
    width: 1.5px;
    background-color: #ababab;
}

.NameOfInformation {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 10px 0%;
}

.Named {
    color: #6A7680;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    width: 50%;
}

.theInformation {
    color: #1e1e1e;
    font-weight: 500;
    margin-left: 20px;
    width: 200px;
    word-wrap: break-word;
}

.marginTopReview {
    margin-top: 70px;
}

.divAllQuestion {
    padding: 20px;
}

.MyGroupsWordReview {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 70px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.AllQuestion {
    cursor: pointer;
    font-weight: 600;
    font-size: clamp(9px, 16px, 20px);
    padding: 10px;
    user-select: none;
}

.MianPageStudentTestsReview2 {
    background-color: white;
    width: clamp(300px, 90vw, 95%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    transition: opacity 0.6s ease, height 0.6s ease;
    height: auto;
    padding: 10px;
    overflow-y: hidden;

}

.MianPageStudentTestsReview2.Hidden {
    opacity: 0;
    height: 0;
}

.MianPageStudentTestsReview2.Appear {
    opacity: 1;
    height: auto;

}

.selectedReview {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #5f51a9;
    border-bottom: 1px solid #5f51a9;
}




/* /////////////////////////////////////////////////////////////// */

.MainDivContantReview {
    display: flex;
    flex-direction: column;
    margin: 1vh auto;
    min-width: 65vw;
    max-width: 85vw;
    border-radius: 10px;
    padding: 10px;
}

.NumberAndQuationReview {
    margin-top: 15px;
    padding: 10px;
    display: flex;
    width: 97%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.RowButtonsDisplayReview {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;


}




.ButtonsDisplayReview {
    color: #5f51a9;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    opacity: 0.6;
    text-decoration: none;
}

.ButtonsDisplayReview:hover {
    opacity: 1;
}




.ButtonsDisplayReview:hover:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #5f51a9;
    position: absolute;
    bottom: -2px;
    color: #5f51a9;
}



.QuationContantReview {
    display: flex;
    font-size: 17px;
    font-family: "Inter-Bold", Helvetica;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    padding: 14px;
    width: 90%;
    margin-top: 30px;
}


.sectionButtonsReview {
    margin-top: 15px;
    color: #5f51a9;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 25px;


}



.lineSepreteExamDitaliesReview {
    margin-top: 9px;
    display: flex;
    height: 1px;
    background-color: rgb(199, 199, 199);
    width: 100%;
}

.iconDeleteDisplayReview {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.answerOptionalReview {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.answerOptionalReview .Options {
    margin: 8px 8px;
    padding: 5px;


}

.marginRightReview {
    width: 50%;

}

.TypeOfQuestionReview {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    color: #6A7680;
    font-family: Inter;
    font-size: 15px;
    font-weight: 550;
}

.charactersiticQuastionReview {
    font-weight: 550;
    margin-left: auto;
    color: #868686;
}

.sectionApperorNotReview {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: max-height 0.4s, opacity 0.4s ease-in-out;
    /* overflow: hidden; */
    /* margin-top: 20px; */
}

.sectionApperorNotReview.closeDetails {
    max-height: 0;
    padding: 0;
    opacity: 0;

}

.sectionApperorNotReview.openDetails {
    max-height: 500px;
    opacity: 1;

}

.selectedReview2 {
    border-radius: 5px;
    background-color: #357a32;
    color: whitesmoke;
}

.inputFieldDisplayQuestionReview {
    width: 60px;
    border-radius: 5px;
    font-size: 13px;

    background-color: rgb(231, 231, 231);
    border: none;
    outline: none;

}

.QuestionNumber {
    display: flex;
    flex-direction: row;
    font-weight: 550;
    font-size: 13px;
    padding: 10px;
    background-color: #5f51a9;
    color: white;
    border-radius: 10px;
}

.BlockInputCode {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.InputFeild {
    width: 220px;
    outline: none;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid #5f51a9;
    border-radius: 5px;
}

.ButtonJoin {

    color: white;
    background-color: transparent;
    border: 1px solid #5f51a9;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.ButtonJoin:hover {
    background-color: #5f51a9;
}

.NoGroup {
    background-color: white;
    color: #1e1e1e;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

.CorrectAnswer {
    border-radius: 5px;
    background-color: #357a32;
    color: whitesmoke;
}

.WrongAnswer {
    border-radius: 5px;
    background-color: rgb(255, 46, 46);
    color: whitesmoke;
}

.CorrectAnswerDisplay {
    margin-top: 20px;
}

.postion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aimodel {
    height: 300px;
    width: 300px;

}

/* /////////////////////// */

video {
    clear: both;
    display: block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

header,
footer {
    clear: both;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.note {
    font-style: italic;
    font-size: 130%;
}

.videoView,
.detectOnClick {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
}

.output_canvas {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.detectOnClick img {
    width: 100%;
}

.boxToWritePassword {
    width: clamp(40px, 8vw, 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

.passwordword {
    font-weight: bold;
}

.Inputpassexam {
    user-select: none;
    border: 1px solid #5f51a9;
    font-family: "Inter-Bold", Helvetica;
    outline: none;
    width: clamp(80px, 20vw, 250px);
    height: 10px;
    border-radius: 5px;
    padding: 8px;
    font-size: 13px;
    background-color: white;
}